Repository vlab-research/vlab, pull requests merged in 2023-04, with the labels that each got.

#145 feat: add destinations to study conf
  dashboard-api/go.mod
  dashboard-api/go.sum
  dashboard-api/internal/platform/server/handler/studyconf/create_test.go
  dashboard-api/internal/platform/server/handler/studyconf/read_test.go
  dashboard-api/internal/testhelpers/databasestudyconf.go
  dashboard-api/internal/testhelpers/studyconfig.go
  dashboard-api/internal/types/studyconf.go
  dashboard-api/internal/types/studyconf_test.go
  devops/seeds/20230322121948_studyconf.up.sql
Labels: kind/feature, area/dashboard

#148 fix: ordering of returned study conf
  dashboard-api/internal/platform/storage/studyconf_repository.go
  dashboard-api/internal/platform/storage/studyconf_repository_test.go
Labels: area/dashboard, kind/bug

#129 feat: add creatives to study conf
  dashboard-api/internal/platform/server/handler/studyconf/create_test.go
  dashboard-api/internal/platform/server/handler/studyconf/read_test.go
  dashboard-api/internal/testhelpers/databasestudyconf.go
  dashboard-api/internal/testhelpers/studyconfig.go
  dashboard-api/internal/types/studyconf.go
  dashboard-api/internal/types/studyconf_test.go
Labels: kind/feature, area/dashboard, area/databases

#155 chore: fixes routepath routing
  dashboard-frontend/src/App.tsx
Labels: area/dashboard, kind/bug

#161 chore: update readme
  README.md
Labels: kind/documentation

#154 feat: create recruitment conf
  dashboard-frontend/mocks/existingState.js
  dashboard-frontend/mocks/formData.js
  dashboard-frontend/mocks/initialState.js
  dashboard-frontend/mocks/translatedConf.js
  dashboard-frontend/src/helpers/getField.spec.ts
  dashboard-frontend/src/helpers/getSelectedConf.spec.ts
  dashboard-frontend/src/helpers/getSelectedConf.ts
  dashboard-frontend/src/helpers/state.spec.ts
  dashboard-frontend/src/helpers/translateConf.spec.ts
  dashboard-frontend/src/helpers/translateConf.ts
  dashboard-frontend/src/pages/NewStudyPage/NewStudyPage.tsx
  dashboard-frontend/src/pages/StudyConfPage/StudyConfPage.tsx
  dashboard-frontend/src/pages/StudyConfPage/configs/recruitment/base.js
  dashboard-frontend/src/pages/StudyConfPage/configs/recruitment/destination.js
  dashboard-frontend/src/pages/StudyConfPage/configs/recruitment/pipeline_experiment.js
  dashboard-frontend/src/pages/StudyConfPage/configs/recruitment/simple.js
  dashboard-frontend/src/pages/StudyConfPage/controllers/select.spec.ts
  dashboard-frontend/src/pages/StudyConfPage/controllers/select.ts
  dashboard-frontend/src/pages/StudyConfPage/controllers/simple.spec.ts
  dashboard-frontend/src/pages/StudyConfPage/controllers/simple.ts
  dashboard-frontend/src/types/conf.ts
  dashboard-frontend/src/types/form.ts
Labels: kind/feature, area/dashboard

#174 chore: setup code quality analysis
  .github/workflows/codequality.yml
  .gitignore
  Makefile
  dashboard-api/Makefile
  go.mod
  go.sum
Labels: area/devops, kind/chore, security

#185 feat: add endpoint to delete account
  dashboard-api/internal/server/handler/accounts/create.go
  dashboard-api/internal/server/handler/accounts/delete.go
  dashboard-api/internal/server/handler/accounts/delete_test.go
  dashboard-api/internal/server/handler/facebook/token.go
  dashboard-api/internal/server/server.go
  dashboard-api/internal/storage/account.go
  dashboard-api/internal/testhelpers/testhelpers.go
  dashboard-api/internal/types/account.go
Labels: kind/feature, area/dashboard

#190 fix: hotfix mirage server
  dashboard-frontend/package-lock.json
  dashboard-frontend/package.json
Labels: area/dashboard, kind/bug

#188 chore: add ability to delete account
  dashboard-frontend/src/components/DeleteButton.tsx
  dashboard-frontend/src/components/LoadingSpinner.tsx
  dashboard-frontend/src/components/PrimaryButton.tsx
  dashboard-frontend/src/helpers/api.ts
  dashboard-frontend/src/pages/AccountsPage/AccountList.tsx
  dashboard-frontend/src/pages/AccountsPage/useAccounts.tsx
  dashboard-frontend/src/pages/AccountsPage/useDeleteAccount.tsx
Labels: kind/feature, area/dashboard

#197 chore: cleanup unused devops scripts
  devops/Makefile
  devops/README.md
  devops/docker-compose-common.yaml
  devops/stop.sh
  devops/test.sh
  devops/test_db.sh
Labels: area/devops, kind/chore

#196 chore: add alchemer to api and ui
  .github/workflows/inference.yaml
  dashboard-api/internal/server/handler/accounts/create.go
  dashboard-api/internal/server/handler/accounts/create_test.go
  dashboard-api/internal/server/handler/accounts/list_test.go
  dashboard-api/internal/storage/account_test.go
  dashboard-api/internal/types/account.go
  dashboard-frontend/src/pages/AccountsPage/AccountCreateModal.tsx
  dashboard-frontend/src/pages/AccountsPage/useAccounts.tsx
  dashboard-frontend/src/pages/AccountsPage/useCreateAccount.tsx
  dashboard-frontend/src/pages/AccountsPage/useDeleteAccount.tsx
  dashboard-frontend/src/types/account.ts
  devops/seeds/20230405094547_credentials.up.sql
  inference/Dockerfile
  inference/sources/alchemer/main.go
  inference/sources/fly/main.go
  inference/sources/types/alchemer.go
  inference/sources/types/fly.go
  inference/sources/types/typeform.go
Labels: kind/feature, area/dashboard, area/connectors, kind/refactor
